.super-mario {
  width: 200px;
  left: 5%;
  top: 10%;
  position: absolute;
}

.goomba {
  width: 100px;
  margin-top: 20%;
  left: 8%;
  position: absolute;
}

.baloon {
left: 26%;
bottom: 50%;
position: absolute;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 27.5%;
  top: 34%;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 43%;
  top: 48%;
}